body {
    width: 960px;
    margin: 0 300px;
    font-family: "Open Sans Condensed";
    color: #fff9d0;
    background-image: url(./../images/background.jpg);
}

header {
    font-size: 30px;
    margin: 0 130px;
}

img.column {
    margin-right: 7px;
    width: 150px;
    height: 150px;
    float: left;
}

img.logo {
    float: left;
    margin: 5px;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

#content {
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 50px;
    overflow: auto;
    height: 100%;
}

div.column {
    width: 400px;
    float: left;
    margin: 5px;
}

ul {
    margin-right: 30px;
}

li {
    display: inline;
    padding: 10px;
}

ul a {
    text-decoration: none;
    color: #000080;
}

ul a:hover {
    color: #0808d8;
}

ul a:active {
    text-decoration: underline;
}

footer {
    margin: 0 290px;
    margin-top: 100px;
    font-size: 80%;
}

p.about {
    padding: 10px;
    margin: 0 250px;
}

#users {
    font-size: 22px;
    font-weight: bold;
}

table.entities {
    width: 400px;
}

table.entities th,
td {
    padding: 7px 10px 10px 10px;
    border: 2px solid black;
}

table.entities th {
    background-color: #7a1f1f7a;
}

table.entities td {
    background-color: rgb(119, 119, 119);
}

table.entities td.link:hover {
    background-color: rgba(119, 119, 119, 0.068);
}

table.entities a {
    text-decoration: none;
    color: #fff9d0;
}

table.entities a {
    text-decoration: none;
    color: #fff9d0;
}

table.entities a:active {
    text-decoration: underline;
    color: #fff9d0;
}

#ava img {
    display: block;
    border-radius: 100%;
    margin: 0 150px;
    width: 150px;
    height: 150px;
}

#backToUsers a {
    width: 960px;
    margin-right: 300px;
    font-size: 15px;
    text-decoration: none;
    color: #fff9d0;
}

#backToUsers a:hover {
    color: #fff9d075;
}

#showUserStations a {
    width: 960px;
    margin-right: 300px;
    font-size: 15px;
    text-decoration: none;
    color: #fff9d0;
}

#showUserStations a:hover {
    color: #fff9d075;
}

#showUserStations a:active {
    text-decoration: underline;
    color: #fff9d0;
}

p.username {
    font-size: 22px;
    margin: 0 320px;
}

p.userreg {
    margin: 0 300px;
}

#backToStations a {
    margin-right: 300px;
    font-size: 15px;
    text-decoration: none;
    color: #fff9d0;
}

#backToStations a:hover {
    color: #fff9d075;
}

#backToStations a:active {
    text-decoration: underline;
    color: #fff9d0;
}

#station img {
    float: left;
    margin-right: 20px;
}

#deletebut {
    margin-top: 200px;
}

#deletebut input {
    color: #000080;
    background-color: #fff9d0;
    border: black;
}

#deletebut input:hover {
    color: #000080;
    background-color: #fff9d09d;
    border: black;
}

#deletebut input:active {
    color: #000080;
    background-color: #fff9d000;
    border: black;
}

div.column_stations {
    width: 400px;
    float: left;
    margin: 5px;
}

div.column_stations form.form1 input,
button {
    background-color: #7a1f1f7a;
    color: #fff9d0;
    height: 23px;
}

div.column_stations form.form2 input {
    background-color: #7a1f1f00;
    color: #fff9d0;
    height: 23px;
}

div.column_stations button {
    background-color: #7a1f1f7a;
    color: #fff9d0;
}

input.currentPageNumber {
    width: 30px;
    height: 26px;
}

div.test {
    display: inline;
}

p.slash,
p.pageNumber {
    display: inline;
}
p.pageNumber {
    padding: 0 14px;
}

div.form2 button.findButton {
    margin-left: 12px;
}

a.prev,
a.next {
    color: #fff9d0;
    text-decoration: none;
}

a.prev:hover,
a.next:hover {
    color: #fff9d065;
}

a.prev:active,
a.next:active {
    color: #fff9d065;
    text-decoration: underline;
}

div.newStationLink {
    background-color: #000080;
    border: 3px solid #7a1f1f7a;
    padding: 0 2px;
    width: 65px;
    margin-top: 10px;
}

div.newStationLink a {
    color: #fff9d0;
    text-decoration: none;
}

div.newStationLink a {
    color: #fff9d0;
    text-decoration: none;
}

div.newStationLink a:hover {
    color: #fff9d079;
    text-decoration: none;
}

form.newForm {
    margin-left: 200px;
}

p.header_new {
    font-size: 30px;
    margin-left: 50px;
}

div.newParam {
    display: inline-flex;
    font-size: 18px;
}

input.inDiv {
    height: 20px;
    margin: auto;
    margin-left: 10px;
    background-color: #7a1f1f7a;
    color: #fff9d0;
}

input.inDivfile {
    height: 20px;
    margin: auto;
    margin-left: 10px;
}

input.inDivfile::-webkit-file-upload-button {
    visibility: hidden;
}

input.inDivfile::before {
    content: "Select image";
    border: 1px solid #fff9d0;
    padding: 1px;
    background-color: #000080;
}

input.newSubmit {
    background-color: #000080;
    color: #fff9d0;
    padding-left: 10px;
}

input.newSubmit:hover {
    background-color: #00008069;
    color: #fff9d0;
    padding-left: 10px;
}

td.deleteStreet {
    width: 50px;
}

a.stationLink {
    color: #fff9d0;
    text-decoration: none;
}

a.stationLink:hover {
    color: #fff9d065;
}

a.stationLink:active {
    color: #fff9d065;
    text-decoration: underline;
}

a.goToNewStreet {
    font-size: large;
    color: #fff9d0;
    text-decoration: none;
}

a.goToNewStreet:hover {
    color: #fff9d065;
}

a.goToNewStreet:active {
    color: #fff9d065;
    text-decoration: underline;
}

input.inDiv2 {
    visibility: hidden;
    width: 0px;
    height: 0px;
    border: 0px;
}

.disableButton {
    pointer-events: none;
    cursor: default;
}

/* loader */
div.loader{
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin-right: 380px;
    margin-bottom: 3000px;
  }
  
  @keyframes arrows {
    0%,
    100% {
      color: black;
      transform: translateY(0);
    }
    50% {
      color: #3AB493;
      transform: translateY(20px);
    }
  }
  
  span {
    --delay: 0s;
    animation: arrows 1s var(--delay) infinite ease-in;
  }

.modal-dialog {
    color: black;
}

.modal-body {
    color: black;
}

div#div-last-station-main {
    width: 300px;
    margin-left: 175px;
    margin-top: 20px;
}

div#div-p-list {
    height: 30px;
    border: 2px solid black;
    background-color: #7a1f1f7a;
}

p#p-list-main {
    color: #fff9d0;
    font-size: 110%;
}

div.div-last-station-container {
    border: 2px solid black;
    margin: 5px;
}

a#lastStationA {
    color: #fff9d0;
    text-decoration: none;
}

a#lastStationA:hover {
    color: #fff9d065;
}

a#lastStationA:active {
    color: #fff9d065;
    text-decoration: underline;
}

input#nameStationInputId {
    position: absolute;
    transform: translate(500px, -218px);
}

div.newStationLink {
    position: absolute;
    transform: translate(500px, -190px);
}