body {
    width: 960px;
    margin: 0 300px;
    font-family: 'Open Sans Condensed';
    color: #FFF9D0;
    background-image: url(./../images/background.jpg);
}

header {
    font-size: 30px;
    margin: 0 130px;
}

img.column {
    margin-right: 7px;
    width: 150px;
    height: 150px;
    float: left; 
}

img.logo {
    float: left;
    margin: 5px;;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

#content {
    overflow: auto;
    height: 100%;
}

div.column {
    width: 400px;
    float: left;
    margin: 5px;
}

ul {
    margin-right: 30px;
}

li {
    display: inline;
    padding: 10px;
}

ul a {
    text-decoration: none;
    color: #000080; 
}

ul a:hover {
    color: #0808d8; 
}

ul a:active {
    text-decoration: underline;
}

footer {
    margin: 0 290px;
    margin-top: 100px;
    font-size: 80%;
}

p.about {
    padding: 10px;
    margin: 0 250px;
}

#users {
    font-size: 22px;
    font-weight: bold;
}

table.entities {
    width: 400px;
}

table.entities th, td {
    padding: 7px 10px 10px 10px;
    border: 2px solid black;
}

table.entities th {
    background-color: #7a1f1f7a;
}

table.entities td {
    background-color: rgb(119, 119, 119);
}

table.entities td.link:hover {
    background-color: rgba(119, 119, 119, 0.068);
}

table.entities a {
    text-decoration: none;
    color: #FFF9D0;
}


table.entities a {
    text-decoration: none;
    color: #FFF9D0;
}


table.entities a:active {
    text-decoration: underline;
    color: #FFF9D0;
}

#ava img {
    display: block;
    border-radius: 100%;
    margin: 0 150px;
    width: 150px;
    height: 150px;
}

#backToUsers a {
    width: 960px;
    margin-right: 300px;
    font-size: 15px;
    text-decoration: none;
    color: #FFF9D0;
}

#backToUsers a:hover {
    color: #fff9d075;
}

#backToUsers a:active {
    text-decoration: underline;
    color: #FFF9D0;
}

p.username {
    font-size: 22px;
    margin: 0 320px;
}

p.userreg {
    margin: 0 300px;
}

#backToStations a {
    margin-right: 300px;
    font-size: 15px;
    text-decoration: none;
    color: #FFF9D0;
}

#backToStations a:hover {
    color: #fff9d075;
}

#backToStations a:active {
    text-decoration: underline;
    color: #FFF9D0;
}

#station img {
    float: left;
    margin-right: 20px;
}

#deletebut {
    margin-top: 200px;
}


#deletebut input{
    color:#000080; 
    background-color: #FFF9D0;
    border: black;
}

#deletebut input:hover {
    color:#000080; 
    background-color: #fff9d09d;
    border: black;
}

#deletebut input:active {
    color:#000080; 
    background-color: #fff9d000;
    border: black;
}

div.column_stations {
    width: 400px;
    float: left;
    margin: 5px;
}

div.column_stations form.form1 input, button{
    background-color: #7a1f1f7a;
    color: #FFF9D0;
    height: 23px;
}

div.column_stations form.form2 input{
    background-color: #7a1f1f00;
    color: #FFF9D0;
    height: 23px;
}

div.column_stations button {
    background-color: #7a1f1f7a;
    color: #FFF9D0;
}


input.currentPageNumber {
  width: 30px;
  height: 26px;
}

div.test {
    display: inline;
}

p.slash, p.pageNumber {
    display: inline;
}
p.pageNumber {
    padding: 0 14px;
}

div.form2 button.findButton {
    margin-left: 12px;
}

a.prev, a.next {
    color: #FFF9D0;
    text-decoration: none;
}

a.prev:hover, a.next:hover {
    color: #fff9d065;
}

a.prev:active, a.next:active {
    color: #fff9d065;
    text-decoration: underline;
}

div.newStationLink {
    background-color: #000080;
    border: 3px solid #7a1f1f7a;
    padding: 0 2px;
    width: 65px;
    margin-top: 10px;
}

div.newStationLink a {
    color: #FFF9D0;
    text-decoration: none;
}


div.newStationLink a {
    color: #FFF9D0;
    text-decoration: none;
}

div.newStationLink a:hover {
    color: #fff9d079;
    text-decoration: none;
}

form.newForm {
    margin-left: 200px;
}

p.header_new {
    font-size: 30px;
    margin-left: 50px;
}

div.newParam {
    display: inline-flex;
    font-size: 18px;
}

input.inDiv {
    height: 20px;
    margin: auto;
    margin-left: 10px;
    background-color: #7a1f1f7a;
    color: #FFF9D0;
}

input.inDivfile {
    height: 20px;
    margin: auto;
    margin-left: 10px;
}

input.inDivfile::-webkit-file-upload-button  {
    visibility: hidden;
}

input.inDivfile::before {
    content: 'Select image';
    border: 1px solid #FFF9D0;
    padding: 1px;
    background-color: #000080;
}

input.newSubmit {
    background-color: #000080;
    color: #FFF9D0;
    padding-left: 10px;
}

input.newSubmit:hover {
    background-color: #00008069;
    color: #FFF9D0;
    padding-left: 10px;
}


