<template>
  <div class="loginMain">
    <div v-if="hiddenReg">
      <div class="loginCont">
        <input type="text" v-model="username" placeholder="Username" required/>
        <br/>
        <input type="password" v-model="password" placeholder="Password" required/>
        <br/>
        <button v-on:click="loginData">Log in</button>
        <br/>
      </div>
      <div>
        <p>Don't have an account? <a v-on:click="hiddenReg = false;">&nbsp;Sign up</a></p>
      </div>
    </div>
    <div v-if="!hiddenReg">
      <div class="login">
        <input type="text" v-model="username" placeholder="Username" required/>
        <br/>
        <input type="password" v-model="password" placeholder="Password" required/>
        <br/>
        <input type="password" v-model="confirmPassword" placeholder="Confirm password" required/>
        <br/>
        <button v-on:click="register">Register</button>
        <br/>
      </div>
      <div>
        <p>I already have account. <a v-on:click="hiddenReg = true;">&nbsp;Log in</a></p>
      </div>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag"
import {onLogin} from "../vue-apollo";
const userData = gql`query login($username:String!,$password:String!) {
  login(username: $username, password: $password)
}`
export const createMessage = gql`mutation createMessage($message:String!) {
  createMessage(text: $message) {
    id
    timestamp
    author {id username }
    text
  }
}`

const newUser = gql`query registration($username:String!,$password:String!) {
  register(username: $username, password: $password) {
    id
    username
    timestamp
  }
}`
const checkUser = gql`query checkUsername($username:String!) {
  user: usernameExists(username: $username)
}`

export default {
  data()
  {
    return {
      username:"",
      password:"",
      confirmPassword:"",
      hiddenReg: true
    };
  },
  name: "Auth",
  methods: {
    async loginData() {
      const token = await this.getToken()
      onLogin(this.$apollo.provider.defaultClient, token);
      await this.$router.push('/chats')
    },
    async checkUser() {
      const user = await this.$apollo.query({
        query: checkUser,
        variables: {
          username: this.username
        },
      })
      return user.data.user
    },
    async register() {
      if (this.confirmPassword.length === 0 || this.password.length === 0 || this.password !== this.confirmPassword) {
        this.errorMes = "Incorrect password input"
        console.log("Incorrect password input.")
        return
      }
      if (await this.checkUser()) {
        console.log("User with such username already exists.")
        return
      }
      await this.$apollo.query({
        query: newUser,
        variables: {
          username: this.username,
          password: this.password,
        },
      })
      const token = await this.getToken()
      onLogin(this.$apollo.provider.defaultClient, token);
      await this.$router.push('/chats')
    },
    async getToken() {
      const token = await this.$apollo.query({
        query: userData,
        variables: {
          username: this.username,
          password: this.password
        },
      })
      return token.data.login
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.loginMain {
  /*background-color: rgba(66, 185, 171, 0.9);*/
  margin-top: 200px;
  padding: 10px;
  width: 20vw;
  margin-left: 500px;
  font-family: "Berlin Sans FB";
  font-size: x-large;
  color: black;
}
button {
  margin-top: 5px;
  background-color: rgb(255, 180, 230);
  border-radius: 10px;
  font-size: x-large;
  margin-bottom: 5px;
}
p {
  background-color: rgba(240, 255, 255, 0.53);
}
input {
  font-family: "Berlin Sans FB";
  border-radius: 10px;
  font-size: large;
}
</style>
