<template>
  <div>
    <div class="main">
      <p>Welcome to the chat site</p>
      <div class="allChatsCont" v-if="!messagesShown">
        <div class="chats">
          <div class="someChat" v-for="room in rooms" :key="room.id">
            <button :id="room.id" v-on:click="enterRoom" :class="{ 'ownerChatButton' : room.owner.id === me.id }">
              {{ room.name }}
            </button>
          </div>
        </div>
        <div class="noMessages">
          Choose chat
          <button class="newChatButton"  v-on:click="openModalWindow">New chat</button>
          <button class="logoutButton" v-on:click="logout">Log out</button>
        </div>
      </div>
      <div class="messagesCont" v-if="messagesShown">
        <div class="allMesBlock">
          <div v-for="message in this.room.lastMessages" :key="message.id">
            <div class="chatBlock" :class="{ 'ownerMessageCont' : message.author.id === me.id }">
              <div class="messageAuthor">
                {{ message.author.username }}
              </div>
              <div class="messageText">
                {{ message.text }}
              </div>
              <div class="timeCont">
                {{ message.timestamp.slice(11).split("").reverse().join("").slice(5).split("").reverse().join("") }}
              </div>
            </div>
          </div>
        </div>
        <div class="backButtonDiv">
          <button class="backButton" v-on:click="backToChats">Back</button>
          <div class="enterMessageCont">
            <input v-model="newMessage" placeholder="Enter your message"/>
            <button v-on:click="createNewMessage">Send</button>
          </div>
        </div>
        <div class="memberCont">
          <div class="chatName">
            {{ this.room.name }}
          </div>
          <div class="membersText">Members:</div>
          <div v-for="member in this.members" :key="member.id">
            {{ member.username }}
            <span v-if="member.id === me.id">(it's you)</span>
          </div>
        </div>
        <div>
          <button class="deleteChatButton" v-on:click="deleteChat" v-if="isChatOwner">Delete chat</button>
        </div>
        <div>
          <button class="updateChatButton" v-on:click="updateChat" v-if="isChatOwner">Update chat</button>
        </div>
      </div>
    </div>
    <div class="modalNewCont" v-if="!modalIsHidden">
      <div class="centerWindowCont">
        <button v-on:click="closeModal">x</button>
        <p class="newName">Enter new chat name:</p>
        <div>
          <input type="text" placeholder="New chat name:" v-model="roomName" required minlength="1"/>
          <button v-on:click="createNewChat">Create</button>
        </div>
      </div>
    </div>
    <div class="modalNewCont" v-if="!modalIsHidden2">
      <div class="centerWindowCont">
        <button v-on:click="closeModal">x</button>
        <p class="newName">Enter new chat name:</p>
        <div>
          <input type="text" placeholder="New chat name:" v-model="roomName2" required minlength="1"/>
          <button v-on:click="updateExistingRoom">Update</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
import {onLogout} from "./../vue-apollo";

const allRooms = gql`query rooms {
  rooms {
    id
    name
    timestamp
    owner {
      id
      username
    }
    lastMessages {
      text
      timestamp
      author {
        id
        username
      }
    }
    members {
      id
      username
    }
  }
}`
const userInfo = gql`  query me {
    me {
      id
      username
      timestamp
      rooms{
        id
        name
      }
      currentRoom {
        id
        name
        owner {
          id
          username
        }
        members{
            id
            username
          }
        lastMessages{
          id
          timestamp

          author{
            id
            username
          }
          text
        }
      }
    }
}`
const joinRoom = gql`mutation join($id:ID!) {
  joinRoom(roomId: $id) {
    id
    name
    timestamp
    lastMessages {
      text
      timestamp
      author {
        id
        username
      }
    }
    owner {
      id
      username
    }
    members {
      id
      username
    }
  }
}`
const leaveRoom = gql`mutation leave {
    leaveCurrentRoom {
      id
      name
    }
  }`

const createdMessage = gql`mutation join($text:String!) {
  createMessage(text: $text) {
    id
    timestamp
    author {
      id
      username
    }
    text
  }
}`

const createdMessageSub = gql`subscription messageCreated {
  messageCreated {
    id
    timestamp
    author {
      id
      username
    }
    text
  }
}`

const createdRoomSub = gql`subscription roomCreated {
  roomCreated {
    id
    name
    timestamp
    owner {
      id
      username
    }
  }
}`

const updatedRoomSub = gql`subscription roomUpdated {
  roomUpdated {
    id
    name
    timestamp
    owner {
      id
      username
    }
    lastMessages {
      text
    }
    members {
      id
      username
    }
  }
}`

const deletedRoomSub = gql`subscription roomDeleted {
  roomDeleted {
    id
    name
    timestamp
    owner {
      id
      username
    }
  }
}`

const joinedUser = gql`subscription memberJoined {
  memberJoined {
    id
    username
  }
}`

const leftUser = gql`subscription memberLeft {
  memberLeft {
    id
    username
  }
}`

const newRoomCreation = gql`mutation createRoom($roomName:String!) {
  createRoom(name: $roomName) {
    id
    name
    timestamp
    owner {
      id
      username
    }
  }
}`

const roomDeletion = gql`mutation deleteRoom($id:ID!) {
  deleteRoom(id: $id) {
    id
    name
    timestamp
    owner {
      id
      username
    }
  }
}`

const roomChange = gql`mutation updateRoom($name:String!,$id:ID!) {
  updateRoom(id: $id, name: $name) {
    id
    name
    timestamp
    owner {
      id
      username
    }
  }
}`


export default {
  name: "Chat",
  data() {
    return {
      rooms: [],
      messages: [],
      members: [],
      room: {},
      me: {},
      id: '',
      newMessage: '',
      modalIsHidden: true,
      modalIsHidden2: true,
      newChat: {},
      roomName: '',
      roomName2: '',
      isChatOwner: false,
      hovered: false,
      messagesShown: false,
      // active: false
    };
  },
  async created() {
    const rooms = await this.$apollo.query({
      query: allRooms
    })
    const userCred = await this.$apollo.query({
      query: userInfo,
      fetchPolicy: "no-cache"
    })
    // await this.$apollo.mutate({
    //   fetchPolicy: "no-cache",
    //   mutation: leaveRoom,
    // })
    this.me = userCred.data.me
    if (this.me.currentRoom) {
      await this.loadLastRoom(this.me);
    }
    this.rooms = rooms.data.rooms
  },
  apollo: {
    $subscribe: {
      messageCreation: {
        query: createdMessageSub,
        result({data}) {
          console.log(data.messageCreated)
          this.messages.push(data.messageCreated)
          this.scrollDown()
        },
      },
      roomCreation: {
        query: createdRoomSub,
        result({data}) {
          this.rooms.push(data.roomCreated)
        },
      },
      roomChange: {
        query: updatedRoomSub,
        result({data}) {
          this.rooms = this.rooms.map(room => {
            if (room.id === data.roomUpdated.id) {
              this.room.name = data.roomUpdated.name
            }
            return room
          })
        },
      },
      roomDeletion: {
        query: deletedRoomSub,
        result({data}) {
          this.messagesShown = false
          let specificIndex = -1
          this.rooms.forEach((room, roomIndex) =>
              room.id === data.roomDeleted.id ? (specificIndex = roomIndex) : ""
          );
          this.rooms.splice(specificIndex, 1)
        },
      },
      joinedUser: {
        query: joinedUser,
        result({data}) {
          console.log(data)
          this.members.push(data.memberJoined)
        },
      },
      leftUser: {
        query: leftUser,
        result({data}) {
          console.log(data)
          let specificIndex = -1;
          this.members.forEach((member, memberIndex) =>
              member.id === data.memberLeft.id ? (specificIndex = memberIndex) : ""
          );
          this.members.splice(specificIndex, 1);
        },
      },
    },
  },
  methods: {
    async joinRoom() {
      const room = await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: joinRoom,
        variables: {
          id: this.id
        },
      })
      return room.data.joinRoom
    },
    async enterRoom(event) {
      this.id = event.target.id;
      this.room = await this.joinRoom();
      this.members = this.room.members;
      this.messages = this.room.lastMessages;
      this.isChatOwner = this.me.username === this.room.owner.username;
      this.messagesShown = true;
      await this.scrollDown();
    },
    async loadLastRoom(me) {
      this.id = me.currentRoom.id;
      this.room = me.currentRoom;
      this.messages = this.room.lastMessages;
      this.members = this.room.members;
      this.messagesShown = true;
      this.isChatOwner = this.me.username === this.room.owner.username
      await this.scrollDown();
    },
    async backToChats() {
      this.messagesShown = false;
      await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: leaveRoom,
      })
    },
    async createNewMessage() {
      const chatMessage = await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: createdMessage,
        variables: {
          text: this.newMessage,
        },
      })
      this.newMessage = ""
      console.log(chatMessage.data)
      return chatMessage.data
    },
    async scrollDown() {
      this.$nextTick(() => {
        const container = this.$el.querySelector(".allMesBlock");
        container.scrollTop = container.scrollHeight;
      });
    },
    async updateExistingRoom() {
      this.modalIsHidden2 = true
      const updatedRoom = await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: roomChange,
        variables: {
          id: this.id,
          name: this.roomName2,
        },
      })
      console.log(updatedRoom.data)
      return updatedRoom.data
    },

    async deleteChat() {
      const deletedRoom = await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: roomDeletion,
        variables: {
          id: this.id,
        },
      })
      // await this.leaveRoom()
      this.messagesShown = false
      this.me.currentRoom = null
      this.room = null
      console.log(deletedRoom.data)
    },
    async closeModal() {
      this.modalIsHidden = true
      this.modalIsHidden2 = true
    },
    async openModalWindow() {
      this.modalIsHidden = false
    },
    async updateChat() {
      this.modalIsHidden2 = false
    },
    async createNewChat() {
      this.modalIsHidden = true
      const newRoom = await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: newRoomCreation,
        variables: {
          roomName: this.roomName,
        },
      })
      console.log(newRoom.data)
      return newRoom.data
    },
    async logout() {
      await onLogout(this.$apollo.provider.defaultClient);
      await this.$apollo.provider.defaultClient.resetStore();
      await this.$router.push('/')
    },
  }
}
</script>

<style scoped>


.main {
  font-family: "Berlin Sans FB";
  font-size: large;
  height: 80vh;
}

.chats {
  width: 35vw;
  height: 75vh;
  overflow-y: auto;
  padding-top: 8px;
}

.noMessages {
  width: 65vw;
  margin: auto;
}

.allChatsCont {
  display: flex;
  background-color: rgba(112, 192, 229, 0.9);
  margin-left: 50px;
  margin-right: 50px;
}

button {
  font-family: "Berlin Sans FB";
  background-color: rgb(255, 180, 230);
  border-radius: 10px;
  font-size: x-large;
  margin-bottom: 5px;
}

.messagesCont {
  background-color: rgba(112, 192, 229, 0.9);
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
  height: 75vh;
}

.messageAuthor {
  font-size: x-large;
  font-weight: bolder;
}

.chatBlock {
  margin-top: 10px;
  margin-bottom: 5px;
}

.timeCont {
  color: rgba(0, 0, 0, 0.49);
}

.backButton {
  display: flex;
  margin-left: 5px;
  position: absolute;
  bottom: 70vh;
  left: 10vw;
}

.enterMessageCont {
  display: flex;
  margin-left: 5px;
}

.allMesBlock {
  height: 60vh;
  overflow-y: auto;
}

p {
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

.memberCont {
  position: absolute;
  left: 80vw;
  bottom: 40vh;
}

.enterMessageCont {
  position: absolute;
  right: 40vw;
  top: 83vh;
}

.ownerMessageCont {
  color: rgb(232, 103, 198);
}

.chatName {
  font-size: 25px;
  font-weight: bolder;
}

.membersText {
  font-weight: bolder;
}

.newChatButton {
  position: absolute;
  top: 20vh;
  left: 85vw;
}

.logoutButton {
  position: absolute;
  top: 85vh;
  left: 87vw;
}

.updateChatButton {
  position: absolute;
  top: 84vh;
  left: 7vw;
}

.deleteChatButton {
  position: absolute;
  top: 77vh;
  left: 7vw;
}
.modalNewCont {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.centerWindowCont {
  background-color: rgba(85, 141, 163, 0.66);
  border-radius: 25px;
  width: 40%;
  height: 22vh;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  position: relative;
}

input::placeholder {
  font-family: "Berlin Sans FB";
}
p.newName {
  font-family: "Berlin Sans FB";
  font-size: medium;
  color: #e073d0;
}

.ownerChatButton {
  background-color: rgb(180, 255, 253);
}
</style>